.cover__title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 797px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 100%;
    margin: 0 16px 0;
  }
}
